*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;

}
nav{
    flex: 1;
    text-align: center;
}
nav ul li:hover{

}
nav ul{
    margin-left: 0px;
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
}

a{
    text-decoration: none;
    color: #555
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.bottom{
    display: grid;
    grid-template-columns: 66% 34%;
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;

}
.left-div{
   
}
.right-div{
   
}
.left-top{
    display: grid;
    grid-template-columns: 50% 50%;

}
#btn-0{
    width: 66%;
    height: 40px;
    border: 1px solid #ada9a9;
    padding: 1% 6%;
    margin: 1% 1%;
    background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
    background-size: contain;
    background-repeat: no-repeat;
  text-align: center;
    background-position: 12px;
    background-size: 16px;
}
::-webkit-input-placeholder {
    text-align: center;}
    
    
      
      .carousel-cell {
        width: 16%;
        height: 300px;
       margin-left: 20px;
     
        border-radius: 5px;
        counter-increment: carousel-cell;
      }
      
     .slide{
     width: 100%;
     height: 100%;

     }
<<<<<<< Updated upstream
      
     
      
      
=======
     .last-part{
         display: grid;
         grid-template-columns: 31.5% 31.5% 31.8%;
       
         max-width: 1200px;
         margin: auto;
        padding-left: 28px;
        grid-gap: 20px;
        margin-top:20px ;

     }
     .lastimg{
         width: 100%;
         
       
     }
     .fs{
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
     }
nav ul li:hover{
   
   padding: 20px;
background-color: rgba(233, 229, 222, 0.849);
transition: 0.9s;

}
nav ul li a:hover{
    color: rgb(128, 127, 126);
}
   .fimf{
       width: 1200px;
       display: grid;
       grid-template-columns: 31.5% 31.5% 31.5%;
       margin-top: 60px;
       margin-bottom: 40px;
       grid-gap:20px;
       margin-left: 45px;
   }   
   .limg{
       width: 100%;
       height: 50px;

   }
   .header {
    
   background-color: white;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  .popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100pc;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index:1;
    display: none;
  }
  
  .popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) ;
    background: #fff;
    width:500px;
    height:600px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    bo
    
  }
  .popup .close-btn {
    position: absolute;
    right:20px;
    top:20px;
    width:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  .popup.active .overlay {
    display:block;
    
  }
  
  .popup.active .content {
    transition: all 0.5s ease-in-out;
    transform: translate(-50%,-50%) scale(1) ;
  }
>>>>>>> Stashed changes
